/*Header CSS*/
*{
    margin:0;
    padding: 0;
    list-style: none;
    text-decoration: none;

}

.header1 {
    width: 100%;
    height: 70px;
    display: block;
    background-color:#18041e;


}

.header{
        width: 100%;
        height: 85px;
        display: block;
        background-color:#1f1d1d;
        line-height: 1;
}

.inner_header{

    width: 1000px;
    height: 100%;
    display: block;
    margin: 0 auto;

}

.logo_container {
    height: 100%;
    display: table;
    float: left;
    
}

.logo_container{
    height: 100%;
    display: table-cell;
    vertical-align: middle;
    transform: translate(-50px,0px);  /*# can specify font size of each word*/
}
    
.navigation{
    float: right;
    height: 100%;
}

.navigation a{
    height: 100%; /*to acess a tag in navigation, same for all type like logo.container*/
    display: table;
    float: left;
    padding:0px 20px;

}

.navigation a li{
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    height: 100%;
    color: white;
    font-family: 'Arial';
    font-size: 16px;
    transform: translate(-350px,0px);


}

/*Our Solution CSS*/
.Why-header{
    width: 100%;
    height: 350px;
    display: block;
    background-color:#f0eaea;
    background-image: linear-gradient(white,#808080);
    line-height: 1;

}
.Why_Our_Product {
    display:flex;
    flex-direction: column;
    align-items: center;
}

.Why_Our_Product h1{
    font-family: "Montserrat";
    font-size: 30px;
    transform: translate(5px,50px);
    padding-top: 10px;
    padding-bottom: 0px;
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;

}

.Why_Our_Product p{
    font-family: "Montserrat";
    font-size: 15px;
    transform: translate(5px,100px);
    padding-top: 0px;
    padding-bottom: 5px;
    padding-left: 5px;
    padding-right: 5px;
    text-align: center;

}


.Acquire-Button{
    background-color: #808080;
    color:#fff;
    padding: 10px 20px;
    border-radius: 50px;
    border: none;
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
    transition: background-color 0.3s;
    text-align: center;
    transform: translate(0px,200px);
}

.Acquire-Button:hover {
    background-color: white;
    color: #18041e;
    cursor: pointer;
}

.Picture{
    float:right; 
    padding-right: 10px;
    transform: translate(0px,-50px)

}

.video-container {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    width: 100%;
  }
  
  .video-container video{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

/*Features CSS*/

.Back-Image{
    background-image: url("./Images/prosthetics.jpg.png");
	background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
	background-size: cover;
	height: 60vh;
}

.container{
    align-content: center;
    background-color: w;
    height: 70vh;
    width: 100%;
}

.h1{
    text-align: center;
    font-family: Rambla, sans-serif;
}

.left_panel {
	width: 20%;
	height: 65%;
	float: left;
	border-style: solid;
    border-width: 0;
    padding:10px;
    box-shadow: 5px 5px 5px grey;
    transform: translate(20px,50px);
}

.middle_panel {
	width: 20%;
	height: 318px;
	border-style: solid;
    float: left;
    border-width: 0;
    padding: 10px;
    box-shadow: 5px 5px 5px grey;
    transform: translate(500px,-395px);
}

.right_panel {
	width: 20%;
	height: 322px;
	float: right;
	border-style: solid;
    border-width: 0;
    padding: 10px;
    box-shadow: 5px 5px 5px grey;
    transform: translate(-40px,-400px);
}

.bullet{
    list-style-type: disc;
    color: black;

}



.Features h1{
    font-size: 20px;
    text-align: center;
    font-family: Rambla, sans-serif;
    
}

.Features h2{
    font-size: 10px;
    padding:10px;
    font-family: Rambla, sans-serif;
}

.button2{
    border: 2px solid black;
    background-color: white;
    color: black;
    padding: 14px 28px;
    cursor: pointer;
    border-color: black;
    align-items: center;
    transform: translate(40%,110px);
    

}

.button2 h3{
    font-size: 16px;
}

.button2:hover{
    box-shadow: 5px 5px 5px gray;
    

}

.button1{
    border: 2px solid black;
    background-color: white;
    color: black;
    padding: 14px 28px;
    cursor: pointer;
    border-color: black;
    align-items: center;
    transform: translate(40%,30px);
    

}

.button1 h3{
    font-size: 16px;
}

.button1:hover{
    box-shadow: 5px 5px 5px gray;

}

.cd-popup{
    display: none;
    position: fixed;
    padding: 10px;
    width: 280px;
    left: 50%;
    margin-left: -150px;
    height: 180px;
    top: 50%;
    margin-top: -100px;
    background: #FFF;
    border: 3px solid #F04A49;
    z-index: 20;
    transform: translate(300px,50px);
}

#cd-popup:after{
    position: fixed;
    content: "";
    top: 0;
    left: 0;
    bottom:0;
    right: 0;
    background: rgba(0,0,0,0.5);
    z-index: -2;
  }
  
#cd-popup:before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: #FFF;
    z-index: -1;
  }

.pop-background {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: #fff; //whatever you want
    opacity: 0;
    transition: all 0.5 linear;
    -webkit-transition: same!;
    -moz-transition: same!;
    -o-transition: same!
}
.pop-background.visible {
    opacity: 1;
}
/*This should be your pop-up container, this needs to have higher z-index in order to be obove background*/

.cd-popup1 {
  z-index: 9999;
}

.button3{
    border: 2px solid black;
    background-color: white;
    color: black;
    padding: 14px 28px;
    cursor: pointer;
    border-color: black;
    align-items: center;
    transform: translate(40%,70px);
    

}

.button3 h3{
    font-size: 16px;
}

.button3:hover{
    box-shadow: 5px 5px 5px gray;
    

}