<!DOCTYPE html>
<html>
<meta charset="UTF-8">

<head>
    <link rel="stylesheet" type="text/css" href="./Features_style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script type="text/javascript" src="Feature.js"></script>
    <title></title>
</head>

<body>
<!-- Headers -->
    <!--div class="header1">

    </div>-->

    <div class="header">
        <div class="inner_header">
            <div class="logo_container">
                <!-- #where I will put logo -->
                <!--<h1>CLD</h1>-->
                <a href="Front_PageVersion2.html"> <img src="./Images/image 32.png" height="85" width="100" ></a>
                <!-- # used to style MY and SITE -->
            </div>
            <ul class="navigation">
                <a href="About._Page.html"><li>ABOUT</li></a> 
                <a href="Feature.Page.html"><li>FEATURES</li></a> <!-- FIX LINK-->
                <a href="Pricing._Page.html"><li>PRICING</li></a> 
                <a href="Team._Page.html"><li>TEAM</li></a>
                    
            </ul>
        </div>


    </div>
<!-- First Page -->
    <div class="video-container">
        <video autoplay="true" muted="true" src="./Images/cd7f14c4.mp4" loop="true" type='video/mp4;codecs="avc1.42e01e, mp4a.40.2"' class="video">
        </video>
    </div>
    <div class="Why-header">
        <div class="Why_Our_Product">
            <h1>Why Our Product</h1>
                <p>This Paragraph here will describe why patients and institution alike <br>should choose our product is best by hinting some of the features.<br> Describing why our produt is special</p>
            <a href="Pricing._Page.html">
                <button class="Acquire-Button">Acquire Features</button>
            </a>

        </div>
    </div>
        
<!-- Second Page -->
<div class="Back-Image"></div>
    <div class="container">
        <div class='h1'><h1>FEATURES</h1></div>
        <div class="left_panel">
            <div class ="Features">
                <h1> Patient Compatability
                        <h2>Our prodcuts are able to provide specialized prothestics that are custom made for each patients </h2>
                </h1>
                    <ul>
                        <li class="bullet">Individual accomodation to patient preference, needs, and body characteristcs</li>
                        <li class = "bullet">Advance sensors to provide real-time data feedback to improve responsiveness</li>
                        <li class="bullet">Another one</li>
                    </ul>
                    <!--<div class="Choose-Button1">-->
                        <button class="button1">
                            <h3>CHOOSE</h3></button>
                            <!--This is what will be inlcuded inside the popup-->
                            <a href="#0" onclick="show('popup')" class="cd-popup-trigger"></a>
                            <div class="cd-popup"  role='alert' id="popup">
                                <h2>Preferences</h2>
                                <ul>
                                    <li class="square_bullet">Option #1</li>
                                    <li class="square_bullet">Option #2</li>
                                    <li class="square_bullet">Option #3</li>  
                                </ul>
                                <h2>Efficient</h2>
                                <ul>
                                    <li class="square_bullet">Option #1</li>
                                    <li class="square_bullet">Option #2</li>
                                    <li class="square_bullet">Option #3</li>  
                                </ul>
                                <h2>Pain Tolorence</h2>
                                <ul>
                                    <li class="square_bullet">Option #1</li>
                                    <li class="square_bullet">Option #2</li>
                                    <li class="square_bullet">Option #3</li>  
                                </ul>
                                <div class="pop_background"></div>
                                <a href="#0" class="cd-popup-close img-replace" onclick="hide('popup')"><img src="./Images/X image.png"></a>
                            </div>
                    </div>
            </div>
                
        </div>
        <div class="middle_panel">
            <div class ="Features">
                <h1> Energy Efficient
                    <h2>Our prosthetics prioritizes optimizing energy efficiency of our prosthetic devices to extend battery life
            and reduce frequent maintenance.</h2>
                </h1>
                <ul>
                    <li class="bullet">SubFeature1</li>
                    <li class="bullet">SubFeature2</li>
                    <li class="bullet">SubFeature3</li>
                </ul>
                <!--<div class="Choose-Button2">-->
                    <button class="button2" href="#" onclick="show('popup')">
                        <h3>CHOOSE</h3></button>
                </div>
            </div>

        </div>
        <div class="right_panel">
            <div class ="Features">
                <h1> Pain Management
                    <h2>Our prosthetics integrate features that help users manage limb pain or discomfort through neurofeedback and
            sensory stimulation. Helping our patients receive instant feedback </h2>
                </h1>
                <ul>
                    <li class="bullet">The is myself testing wether I have the ability to change</li>
                    <li class="bullet">This is another test as to whey the button is not good</li>
                    <li class="bullet">SubFeature3</li>

                </ul>
                <!--<div class="Choose-Button3">-->
                    <button class="button3" href="#" onclick="show('popup')">
                        <h3>CHOOSE</h3></button>
                        
                </div>

            </div>
        </div>
    
    </div>
</div>

</body>

</html>