<!DOCTYPE html>
<html>
<meta charset="UTF-8">
<link href="stlye.css" rel="stylesheet" type="text/css"
<head></head>  
    <title></title>
<body>
    <div class = "header1">

    </div>

    <div class="header">
        <div class="inner_header">
            <div class="logo_container"> #where I will put logo
                <h1>CLD</h1> # used to style MY and SITE
            </div>
            <ul class="navigation">
                <a><li>HOME</li></a>
                <a><li>About</li></a>
                <a><li>Features</li></a>
                <a><li>Pricing</li></a>
                <a><li>TEAM</li></a>

            </ul>

            
    </div>

    <h1> Feature #1 Patien Accomodation
        <h2>Our prodcuts are able to provide specialized prothestics that are custom made for each patients' individual needs, preferences, and body characteristics.<br>We implement advanced sensors, such as accelerometers and pressure sensors, to provide real-time data feedback for better control and responsiveness via comaptibility with patient's smart devices </h2>
    </h1>
    
    <h1> Feature #2 Energy Efficiency
        <h2>Our prosthetics prioritizes optimizing energy efficiency of our prosthetic devices to extend battery life and reduce the need for frequent charging or maintenance.</h2>

    </h1>
    <h1> Feature #3 Pain Management 
        <h2>Our prosthetics integrate features that help users manage limb pain or discomfort through neurofeedback and sensory stimulation. Helping our patients receive instant feedback </h2>
        </h1>
<!-- Content will go here -->

</body>
</html>