<!DOCTYPE html>
<html>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<head>
    <link rel="stylesheet" type="text/css" href="./Features_style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Rambla:i" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@1,900&display=swap" rel="stylesheet">
    <script type="text/javascript" src="Feature.js"></script>
    <title></title>
</head>

<body>
    <!-- Headers -->
    <!--div class="header1">

    </div>-->

    <div class="header">
        <div class="inner_header">
            <div class="logo_container">
                <!-- #where I will put logo -->
                <!--<h1>CLD</h1>-->
                <a href="Front._Page.html"> <img src="./Images/image 32.png" height="85" width="100"></a>
                <!-- # used to style MY and SITE -->
            </div>
            <ul class="navigation">
                <a href="About._Page.html">
                    <li>ABOUT</li>
                </a>
                <a href="Feature.Page.html">
                    <li>FEATURES</li>
                </a> <!-- FIX LINK-->
                <a href="Pricing._Page.html">
                    <li>PRICING</li>
                </a>
                <a href="Team._Page.html">
                    <li>TEAM</li>
                </a>

            </ul>
        </div>


    </div>
    <!-- First Page -->
    <div class="video-container">
        <video autoplay="true" muted="true" src="./Images/cd7f14c4.mp4" loop="true"
            type='video/mp4;codecs="avc1.42e01e, mp4a.40.2"' class="video">
        </video>
    </div>
    <div class="Why-header">
        <div class="Why_Our_Product">
            <div class="divider" style="max-width:40px; height:5px;background-color:whitesmoke;">…</div>
            <h1>Our Prosthetic Approach</h1>
            <p1>A comprehensive selection of well-crafted, high-quality prosthetics is offered by CyberLimbDynamics.<br> 
                We have a prosthetic to match the demands of any user,<br> from ones that will allow you to walk and run again
                to ones that will allow you to touch the hand of a loved one once more.</p1> <p2>See your options and the prosthetics that might
                work best for you by looking through our selection of prosthetic solutions below.</p2>
            <a href="Pricing._Page.html">
                <button class="Acquire-Button">Acquire Features</button>
            </a>

        </div>
    </div>

    <!-- Second Page -->
    <div class="Back-Image"></div>
    <div class="container">
        <div class='h1'>
            
            <h1>FEATURES</h1>
        </div>
    
        <div class="left_panel">
            <div class="Features">
                <h1> Patient Compatability
                    <h2>Our prodcuts are able to provide specialized prothestics that are custom made for each patients
                    </h2>
                </h1>
                <ul>
                    <li class="bullet">Accomodation to patient preference, needs, and body characteristcs</li>
                    <li class="bullet">Provide real-time data feedback to improve responsiveness</li>
                    <li class="bullet">Developed user-friendly interfacesto enable remote control</li>
                </ul>
                <!--<div class="Choose-Button1">-->

                <button class="button1">
                    <h3>CHOOSE</h3>
                </button>
                <!--This is what will be inlcuded inside the popup !!!!!Does work rn-->
                      
            </div>
        </div>
    </div>

    </div>
    <div class="middle_panel">
        <div class="Features">
            <h1> Energy Efficient
                <h2>Our prosthetics prioritizes optimizing energy efficiency of our prosthetic devices to extend battery
                    life
                    and reduce frequent maintenance.</h2>
            </h1>
            <ul>
                <li class="bullet">Our prosthetics are made from eco-friednly materials</li>
                <li class="bullet">High-quality battery for electronic options</li>
                <li class="bullet">Implements machine learning algorithms to optimize prosthetic device functionality
                </li>
            </ul>
            <!--<div class="Choose-Button2">-->
            <button class="button2" href="#" onclick="show('popup')">
                <h3>CHOOSE</h3>
            </button>
        </div>
    </div>

    </div>
    <div class="right_panel">
        <div class="Features">
            <h1> Pain Management
                <h2>Our prosthetics integrate features that help users manage limb pain or discomfort through
                    neurofeedback and
                    sensory stimulation. Helping our patients receive instant feedback </h2>
            </h1>
            <ul>
                <li class="bullet">Provide personal healthcare takers with prosthetics analytics</li>
                <li class="bullet">Implement software features that proactively notify users about maintenance</li>
                <li class="bullet">We adjusts socket fit in real-time to enhance comfort and reduce the risk of skin
                    irritation or discomfort</li>

            </ul>
            <!--<div class="Choose-Button3">-->
            <button class="button3" href="#" onclick="show('popup')">
                <h3>CHOOSE</h3>
            </button>

        </div>

    </div>
    </div>

    </div>
    </div>

    <!-- Contact Part -->
    <div class="container1">
        <div class="left"></div>
        <div class="right">
            <div class="user">
                <img src="./Images/image 32.png">
            </div>
            <div class="form_content">
                <form>
                    <div class="input-field">
                        <input type="text" placeholder="User Name" id="name" />
                        <span id="name_error" class="error d-none">Only letter withour space.</span>
                    </div>
                    <div class="input-field">
                        <input type="text" placeholder="Phone" id="phone" />
                        <span id="phone_error" class="error d-none">Contains 10 digit number</span>
                    </div>
                    <div class="input-field">
                        <input type="text" placeholder="Email" id="email" />
                        <span id="email_error" class="error d-none">Invalid Email</span>
                    </div>
                    <div class="input-field">
                        <input type="text" placeholder="Message" id="message" />
                        <span id="message_error" class="error d-none">Put Correct Message</span>
                    </div>
                    <button class="contact_button">SEND</button>
                    <div class="dialog d-none">Fields cannot be empty</div>
                </form>
            </div>
        </div>
    </div>

</body>

</html>