/*Header CSS*/
*{
    margin:0;
    padding: 0;
    list-style: none;
    text-decoration: none;

}

.header1 {
    width: 100%;
    height: 70px;
    display: block;
    background-color:#18041e;


}

.header{
        width: 100%;
        height: 85px;
        display: block;
        background-color:#1f1d1d;
        line-height: 1;
}

.inner_header{

    width: 1000px;
    height: 100%;
    display: block;
    margin: 0 auto;

}

.logo_container {
    height: 100%;
    display: table;
    float: left;
    
}

.logo_container{
    height: 100%;
    display: table-cell;
    vertical-align: middle;
    transform: translate(-50px,0px);  /*# can specify font size of each word*/
}
    
.navigation{
    float: right;
    height: 100%;
}

.navigation a{
    height: 100%; /*to acess a tag in navigation, same for all type like logo.container*/
    display: table;
    float: left;
    padding:0px 20px;

}

.navigation a li{
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    height: 100%;
    color: white;
    font-family: 'Arial';
    font-size: 16px;
    transform: translate(-350px,0px);


}

/*Our Solution CSS*/
.Why-header{
    width: 100%;
    height: 350px;
    display: block;
    background-color:#f0eaea;
    background-image: linear-gradient(white,#808080);
    line-height: 1;

}
.Why_Our_Product {
    display:flex;
    flex-direction: column;
    align-items: center;
}

.Why_Our_Product h1{
    font-family: "Montserrat";
    font-size: 20px;
    transform: translate(5px,50px);
    padding-top: 10px;
    padding-bottom: 0px;
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
    font-family: sans-serif;

}

.Why_Our_Product p{
    font-family: "Montserrat";
    font-size: 15px;
    transform: translate(5px,100px);
    padding-top: 0px;
    padding-bottom: 5px;
    padding-left: 5px;
    padding-right: 5px;
    text-align: center;
    font-family: 'Quicksand';
    font-stretch: condensed;

}


.Acquire-Button{
    background-color: #808080;
    color:#fff;
    padding: 10px 20px;
    border-radius: 50px;
    border: none;
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
    transition: background-color 0.3s;
    text-align: center;
    transform: translate(0px,200px);
}

.Acquire-Button:hover {
    background-color: white;
    color: #18041e;
    cursor: pointer;
}

.Picture{
    float:right; 
    padding-right: 10px;
    transform: translate(0px,-50px)

}

.video-container {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    width: 100%;
  }
  
  .video-container video{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

/*Features CSS*/

.Back-Image{
    background-image: url("./Images/prosthetics.jpg.png");
	background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
	background-size: cover;
	height: 60vh;
}

.container{
    align-content: center;
    background-color: w;
    height: 30vh;
    width: 100%;
}

.h1{
    text-align: center;
    font-family: Rambla, sans-serif;
}

.left_panel {
	width: 20%;
	height: 320px;
	float: left;
	border-style: solid;
    border-width: 0;
    padding:10px;
    box-shadow: 5px 5px 5px grey;
    transform: translate(20px,45px);
}

.middle_panel {
	width: 20%;
	height: 318px;
	border-style: solid;
    float: left;
    border-width: 0;
    padding: 10px;
    box-shadow: 5px 5px 5px grey;
    transform: translate(225px,-120px);
}

.right_panel {
	width: 20%;
	height: 322px;
	float: right;
	border-style: solid;
    border-width: 0;
    padding: 10px;
    box-shadow: 5px 5px 5px grey;
    transform: translate(-40px,-125px);
}

.bullet{
    list-style-type: disc;
    color: black;

}

.Features h1{
    font-size: 20px;
    text-align: center;
    font-family: Rambla, sans-serif;
    
}

.Features h2{
    font-size: 10px;
    padding:10px;
    font-family: Rambla, sans-serif;
}

.button2{
    border: 2px solid black;
    background-color: white;
    color: black;
    padding: 14px 28px;
    cursor: pointer;
    border-color: black;
    align-items: center;
    transform: translate(40%,60px);
    

}

.button2 h3{
    font-size: 16px;
}

.button2:hover{
    box-shadow: 5px 5px 5px gray;
    

}

.button1{
    border: 2px solid black;
    background-color: white;
    color: black;
    padding: 14px 28px;
    cursor: pointer;
    border-color: black;
    align-items: center;
    transform: translate(40%,80px);
    

}

.button1 h3{
    font-size: 16px;
}

.button1:hover{
    box-shadow: 5px 5px 5px gray;

}

/* Wasn't able to get the greyed out background for at the momment. 
    I have commented it out for now because it is not ready, but still left it to show what I was trying to do. 
.popup{
    display: none;
    position: fixed;
    padding: 10px;
    width: 300px;
    left: 50%;
    margin-left: -150px;
    height: 180px;
    top: 50%;
    margin-top: -100px;
    background: #FFF;
    border: 3px solid #F04A49;
    z-index: 20;
    transform: translate(300px,300px);
}

#popup:after{
    position: fixed;
    content: "";
    top: 0;
    left: 0;
    bottom:0;
    right: 0;
    background: rgba(0,0,0,0.5);
    z-index: -2;
  }
  
#popup:before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: #FFF;
    z-index: -1;
  }
.square_bullet1{
    list-style-type: square;
    transform: translate(20px,30px);
    
}

.Pref{
    transform: translate(10px,30px);
}

.square_bullet2{
    list-style-type: square;
    transform: translate(120px,-56px);
}

.Eff{
    transform: translate(120px,-56px);
}

.square_bullet3{
    list-style-type: square;
    transform: translate(210px,-142px);
}
.Pain{
    transform: translate(200px,-140px);
}
.cd-popup-closeimg-replace img{
    height: 25px;
    width: 25px;
    transform: translate(280px,-260px);


}
.pop-background {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: #fff; //whatever you want
    opacity: 0;
    transition: all 0.5 linear;
    -webkit-transition: same!;
    -moz-transition: same!;
    -o-transition: same!
}
.pop-background.visible {
    opacity: 1;
}
/*This should be your pop-up container, this needs to have higher z-index in order to be obove background

.cd-popup1 {
  z-index: 9999;
}*/

.button3{
    border: 2px solid black;
    background-color: white;
    color: black;
    padding: 14px 28px;
    cursor: pointer;
    border-color: black;
    align-items: center;
    transform: translate(40%,35px);
    

}

.button3 h3{
    font-size: 16px;
}

.button3:hover{
    box-shadow: 5px 5px 5px gray;
    

}

/*Contact Part */

.container1 {
    background: linear-gradient(to right, #8f91ab80 50%, #ffffff 50%), url(/img/background.jpg);
    width: 100%;
    height: 500px;
    border-radius: 2px;
    margin: auto;
    margin-top: 150px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    background-size: cover;
    position: relative;
    display: flex;
    justify-content: space-between;
    background-repeat: no-repeat;
}

.user img {
    width: 150px;
    height: 150px;
}

.user {
    margin: auto;
    position: absolute;
    top: 20%;
    border: 3px solid #ffffff;
    border-radius: 50%;
    background: #ffffff;
    transform: translate(-50%, -100%);
    left: 50%;
}

.input-field {
    margin: 20px 0px;
}

input {
    width: 100%;
    border: 0;
    outline: 0;
    padding: 0.5rem 0;
    border-bottom: 2px solid #d3d3d3;
    box-shadow: none;
    color: #b39d9d;
    margin-top: 10px;
    margin-bottom: 20px;
}


form {
    margin: 90px 50px;
    width: 100%;
}

.form_content {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.contact_button {
    background: rgb(31, 29, 29);
    border: none;
    padding: 10px 20px;
    color: #fff;
    margin-bottom: 30px;
    border-radius: 2px;
    font-weight: bold;
    cursor: pointer;
}

.contact_button:hover{
    box-shadow: 5px,5px,5px gray;
}

.left,
.right {
    width: 50%;
}

.d-none {
    display: none;
}

.d-block {
    display: block;
}

span {
    background: #fbfbfb;
    box-shadow: 0 2px 5px #00000052;
    padding: 5px;
    line-height: 2;
    color: red;
    margin-bottom: 20px;
}

.dialog {
    transition: 0.2s all;
    color: red;
}

@media(max-width: 768px) {
    .left {
        display: none;
    }

    .form-wrapper {
        width: 100%;
    }

    form {
        width: 80%;
    }

    .container1 {
        width: 90%;
        height: 60vh;
        background: white;
    }

    .right {
        width: 100%;
        margin-top: 50px;
    }
}
