/*Header CSS*/
*{
    margin:0;
    padding: 0;
    padding-top: 12.5px;
    list-style: none;
    text-decoration: none;
    font-family: 'Rambla';

}

.header{
    width: 100%;
    height: 160px;
    display: block;
    background-color:#1f1d1d;
    line-height: 1;
    font-family: 'Rambla';
}

.inner_header{

    width: 1000px;
    height: 50%;
    display: block;
    margin: 0 auto;
    font-family: 'Rambla';
}

.logo_container {
    height: 100%;
    display: table;
    float: left;
    font-family: 'Rambla';
}

.logo_container{
    height: 100%;
    display: table-cell;
    vertical-align: middle;
    transform: translate(-50px,0px);  /*# can specify font size of each word*/
    font-family: 'Rambla';
}

.navigation{
    float: right;
    height: 100%;
    font-family: 'Rambla';
}

.navigation a{
    height: 100%; /*to acess a tag in navigation, same for all type like logo.container*/
    display: table;
    float: left;
    padding:0px 20px;
    font-family: 'Rambla';
}

.navigation a li{
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    height: 100%;
    color: white;
    font-family: 'Arial';
    font-size: 16px;
    transform: translate(-350px,0px);
    font-family: 'Rambla';
}


body {
    /*#background-color: #333;*/
    color: #ddd;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    padding-top: 0px;
    font-family: 'Rambla';
}

.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background-color: #222;
    font-family: 'Rambla';
}

h1 {
    text-align: center;
    font-size: 3em;
    margin-top: 150px;
    font-family: 'Rambla';
}

.full-screen-image {
    background-color: none;
    position: relative;
    width: 100%;
    height: 125vh;
    overflow: hidden;
    margin-top: 30px;
    font-family: 'Rambla';
}

.full-screen-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    font-family: 'Rambla';
}

.image-text {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    font-family: 'Rambla';
}


.header1 {
    position: absolute;
    top: 0%;
    left: 27.5%;
    color: black;
    border-radius: 10px;
    padding: 10px 20px;
    text-align: center;
    width: 250px;
    font-weight: bold;
    font-family: 'Rambla';
}


.rounded-box {
    position: absolute;
    bottom: 45%;
    left: 40%;
    background-color: #555753;
    border: 1px solid #555753;
    color: black;
    border-radius: 10px;
    padding: 10px 20px;
    text-decoration: underline;
    text-align: center;
    width: 250px;
    font-weight: bold;
    font-family: 'Rambla';
}

.text h2 {
    font-size: 2em;
    font-family: 'Rambla';
}

.text p {
    font-size: 1.1 em;
    line-height: 1.6;
    font-family: 'Rambla';
}

.image img {
    max-width: 50%;
    max-height: 50vh;
    object-fit: cover;
    font-family: 'Rambla';
}

.left {
    float: left;
}

.Style1 {
    position: relative;
    object-fit: cover;
    font-family: 'Rambla';
}


.text {
    position: absolute;
    left: 15px;
    top: 65px;
    font-size: medium;
    color: white;
    font-family: 'Rambla';
}

.text_black {
    position: absolute;
    left: 10px;
    right: 15px;
    color: black;
    font-family: 'Rambla';
}


.text2 {
    position: absolute;
    top: 20px;
    bottom: 20px;
    right: 20px;
    left: 20px;
    text-align: center;
    color: black;
    font-family: 'Rambla';
}

.bottom-left {
    position: absolute;
    bottom: 10px;
    left: 15px;
}

.top-left{
    position: absolute;
    top: 10px;
    right: 15px;
    color: black;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
}



#Picture1 {
    width: 100%;
    height: 600px;
    text-align: left;
    font-family: 'Rambla';
}

