*{
    margin:0;
    padding: 0;
    list-style: none;
    text-decoration: none;

}

.header1 {
    width: 100%;
    height: 100px;
    display: block;
    background-color:#250841;


}
.header{
        width: 100%;
        height: 80px;
        display: block;
        background-color:rgb(210, 236, 244);
        line-height: 3;
}

.inner_header{

    width: 1000px;
    height: 100%;
    display: block;
    margin: 0 auto;

}

.logo_container {
    height: 100%;
    display: table;
    float: left;
    
}

.logo_container h1{
    color: white;
    height: 100%;
    display: table-cell;
    vertical-align: middle;
    font-family:'Arial';
    font-size: 32 px; # can specify font size of each word
}
    




.navigation{
    float: right;
    height: 100%;
}
.navigation a{
    height: 100%; # to acess a tag in navigation, same for all type like logo.container
    display: table;
    float: left;
    padding:0px 20px;

}

.navigation a li{
    display: table-cell;
    vertical-align: middle;
    height: 100%;
    color: white;
    font-family: 'Arial';
    font-size: 16px;


}

